.about{
    padding: auto;
    margin: auto;
}

.leftside{
    padding-top: 20px;
    column-count: 2;
}
.root{
    color: #4F4F4F;
    margin-left:130px;
    text-align: justify;
    padding-top: 60px;
    font-size: 40px;
}
.toot{
    margin-left:130px;
    text-align: justify;
    padding-top: 30px;
    line-height: 2;
    color: #4F4F4F;
    font-size: 15px;
    line-height: 2;
}
.rightside{
    padding-top: 40px;
    display:grid;
    grid-template-columns:auto auto auto auto auto auto;
    gap:20px;
    margin-left: 130px;
}
.side{
    color: #4F4F4F;
}
p{
    color : #4F4F4F;
    line-height: 2;
}
.image{
    width:100%;
    height: 100%;
}
