.NavbarItems{
    background: #e3e3e3;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-gap : 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin-right: 2rem;
}
.nav-links{
    color:black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: grey;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
