.container{
    margin:auto;
    padding: auto;
    
}
.logo{
    margin:0;
    padding: 0px;
}
.logo-tax{
    margin:0rem;
    padding-left: 35px;
    padding-top: 0px;
    height: 30%;
    width: 12%;
    object-fit: cover;
}
.social-icon{
      float:right;
      text-align: justify;
      
}
.bar{
    float: right;
    display: inline;
    color:black;
    padding-right:60px;
    font-size:18px;
    padding-top: 1px;
    
    
}
.icon{
    
    color:red;
    font-size: 25px;
    padding-top: 5px;
    margin-top:5px;
}