.left{
    padding-top: 20px;
    column-count: 2;
}
.loc{
    color: #4F4F4F;
    margin-left:130px;
    text-align: justify;
    padding-top: 160px;
    font-size: 40px;
}
.poc{
    margin-left:130px;
    text-align: justify;
    padding-top: 30px;
    line-height: 2;
    color: #4F4F4F;
    font-size: 15px;
    line-height: 2;
}
.middle{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin-left: 30px;
    margin-right: 20px;

}
.container-item{
    position: relative;
    
     
}
.scarborough{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.ajax{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.oshawa{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.whitby{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.pickering{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.etobicoke{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.northyork{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.toronto{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.brampton{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}
.markham{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: center;
    color: white;
}


