.cust{
    padding-top: 20px;
    column-count: 2;
}
.custtitle{
    color: #4F4F4F;
    margin-left:130px;
    text-align: justify;
    padding-top: 220px;
    font-size: 40px;
}
.custpara{
    margin-left:130px;
    text-align: justify;
    padding-top: 30px;
    line-height: 2;
    color: #4F4F4F;
    font-size: 15px;
    line-height: 2;
}
.list-items{
    padding-top: 30px;
    margin-left: 50px;
}
.custo{
    text-align: center;
    align-items: center;
}
.cust-items{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 55px;
    line-height: 2.4;
    padding-top: 30px;
    align-items: center;
}
.btn{
    width:100%;
    height: 100px;
    background-color: black;
    padding-top: 30px;
    margin-top: 30px;
}