.minItem{
    background: #e3e3e3;
    padding: 40px;
    margin: 0px;
}
.mintit{
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    color: #4F4F4F;
    font-weight: bolder;
    font-size: 40px;
}
.mint{
    padding-top: 10px;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.mintitem{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap : 40px;
    list-style: none;
    text-align: center;
    
    margin-right: 1rem;
    
}
.minlist{
    font-weight: bold;
    align-items: center;
    padding-top: 20px;
    border-radius:70px;
    width: 180px;
    height: 190px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    line-height: 1.5;
    transition: all 1.2s ease-out 0s;
}
.minlist:hover{
    background-color: rgb(18, 31, 70);
    box-shadow: var(--shd,0 8px 10px rgba(0,0,0,.8));
}