.pro{
    
    padding: 40px;
    margin: 0px;
}

.prohead{
    padding-top: 10px;
    color:whitesmoke;
    font-weight: bolder;
    font-size: 40px;
    height: 10vh;
    background-color: black;
    background-size: cover;
    
    
}
.provide{
    padding-top: 60px;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.provide-items{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap : 70px;
    list-style: none;
    text-align: center;
    
    margin-right: 1rem;
}
.provi{
    
    align-items: center;
    padding-top: 20px;
    border-radius:3px;
    width: 330px;
    height: 450px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    line-height: 1.5;
    transition: all 1s ease-in-out 0s;
    margin: 10px;
    
}
.provi:hover{
    box-shadow: var(--shd,0 8px 10px rgba(0,0,0,.8));
    
}