.specialise{
    padding-top: 80px;
}
.speci{
    padding-top: 500px;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.speci-items{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap : 40px;
    list-style: none;
    text-align: center;
    margin-right: 1rem;
}
.speci-img{
    width:350px;
    
    
}
.speci-tit{
    padding-top: 10px;
    font-weight: 100;
    font-size:25px;
    color:white;
}
.speci-list{
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(18, 31, 70);
    transition: all 1.2s ease-out 0s;
}
.speci-list:hover{
    background-color:white;
    box-shadow: var(--shd,0 8px 10px rgba(0,0,0,.8));
} 
.speci-tit:hover{
    color:#4F4F4F;
}   