.btn-type{
    align-items: center;
    background-color:red; /* Green */
    border: 2px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
