.card{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    
}
.card1{
    margin-left: 100px;
    align-items: center;
    padding-bottom: 80px;
    margin-right: 70px;
    border-radius:3px;
    width: 330px;
    height: 250px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 50px;
    background-color: white;
    line-height: 2;
    
}
.icon-card{
    font-size: 40px;
    padding-top: 15px;
}
h3{
    padding-top: 10px;
    justify-content: left;
}