.serv{
    padding-top: 20px;
    column-count: 2;
}
.servhead{
    color: #4F4F4F;
    margin-left:130px;
    text-align: justify;
    padding-top: 140px;
    font-size: 40px;
}
.servpara{
    margin-left:130px;
    text-align: justify;
    padding-top: 30px;
    line-height: 2;
    color: #4F4F4F;
    font-size: 15px;
    line-height: 2;
}