.serviceList{
    padding-top: 800px;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
h2{
    color:red;
    text-align: start;
    margin-left: 10px;
}
.servList{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap : 40px;
    list-style: none;
    text-align: center;
    margin-right: 1rem;
}
.servItems{
    padding-top: 10px;
    border-radius:2px;
    width:400px;
    height:500px;
    border-style: none;
    color:#4F4F4F;
    font-size: 15px;
    background-color: white;
}
.servItems:hover{
    box-shadow: var(--shd,0 8px 10px rgba(0,0,0,.8));
}
.serv-btn{
    align-items: center;
    background-color:rgb(19, 40, 104); /* Green */
    border: 2px;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
.serv-btn:hover{
    background-color:red;
}